{% extends "../base.html" %}
{% load mathfilters %}

{% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
			<div id="board">
				<form id="search_form" action="/board/" method="get">
					<input type="text" id="kwd" name="kwd" value="{{ kwd }}">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>
					{% for board in board_list %}
					<tr>
						<td>{{ board.no }}</td>
						<td><a href="/board/view/{{ board.id }}?kwd={{ kwd }}&cur_paging_num={{ cur_paging_num }}">{{ board.title }}</a></td>
						<td>{{ board.user.name }}</td>
						<td>{{ board.hit }}</td>
						<td>{{ board.reg_date | date:'Y-m-d H:i:s'}}</td>
						{% if request.session.authuser is not None and request.session.authuser.id == board.user.id %}
						<td><a href="/board/delete/{{ board.id }}" class="del">삭제</a></td>
						{% else %}
						<td class="notdel"></td>
						{% endif %}
					</tr>
					{% endfor %}
				</table>
				<!-- pager 추가 -->
				<div class="pager">
					<ul>
						{% if is_pre_page is True %}
						<li><a href="/board/?kwd={{ kwd }}&cur_paging_num={{ cur_paging_num | sub:1 }}">◀</a></li>
						{% else %}
						<li><a href="#">◀</a></li>
						{% endif %}

						{% for paging in paging_list %}
							{% if paging <= tot_paging_size %}
								{% if paging is cur_paging_num %}
								<li class="selected"><a href="/board/?kwd={{ kwd }}&cur_paging_num={{ paging }}">{{ paging }}</a></li>
								{% else %}
								<li><a href="/board/?kwd={{ kwd }}&cur_paging_num={{ paging }}">{{ paging }}</a></li>
								{% endif%}
							{% else %}
								<li>{{ paging }}</li>
							{% endif%}
						{% endfor %}

						{% if is_after_page is True %}
						<li><a href="/board/?kwd={{ kwd }}&cur_paging_num={{ cur_paging_num | add:1 }}">▶</a></li>
						{% else %}
						<li><a href="#">▶</a></li>
						{% endif %}
					</ul>
				</div>
				<!-- pager 추가 -->
				<div class="bottom">
					{% if request.session.authuser is not None %}
						<a href="/board/write?kwd={{ kwd }}&cur_paging_num={{ cur_paging_num }}" id="new-book">글쓰기</a>
					{% endif %}
				</div>				
			</div>
{% endblock %}
<!--

<div class="pager">
					<ul>
						<li><a href="">◀</a></li>
						<li><a href="">1</a></li>
						<li class="selected">2</li>
						<li><a href="">3</a></li>
						<li>4</li>
						<li>5</li>
						<li><a href="">▶</a></li>
					</ul>
				</div>
-->
